
{% extends "navigationbar.html" %}
{% load static %}

{% block body %} 
<style>
    .vdimg{
        background-image: url("/static/images/host.webp");
        background-size: 100%,100%;
        background-repeat: no-repeat;
    }
</style>

<body  class="vdimg">
<div class="container" style="margin-mt:50px">
    <h2 class="text-center mt-2" style="color:black">View Doctor</h2>
    <br><br>
    <table class="table table-hover" id="example">
        <thead>
            <tr>
                <th>Doctor ID</th>
                <th>Doctor Name</th>
                <th>Contact</th>
                <th>Specilazation</th>
                <th>Delete</th>
            </tr>
        </thead>

        <tbody>
            {% for i in doc %}
            <tr>
                <th>{{i.id}}</th>
                <th>{{i.name}}</th>
                <th>{{i.modile}}</th>
                <th>{{i.special}}</th>
                <th><a href="{% url 'delete_doctor' i.id %}" onclick="return confirm('Are u really want to delete?')" class="btn btn-danger">Delete</a></th>
            </tr>
            {% comment %} <a href="{% url 'delete_doctor' id=1 %}">Delete Doctor</a> {% endcomment %}

            {% endfor %}
        </tbody>
    </table>
</div>
</body>

{% endblock %}